registry=https://pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/registry/:username=totvshoteis
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/registry/:_password=M2F6Z3BpcWN5NHpvenhyYnp4bnpneHljanFxMjR3dnEyYmppNXR3emNnd3hvbGUyazVscQ==
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/registry/:email=leticia.tomasio@d0007azurecloudtotvscom.onmicrosoft.com
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/:username=totvshoteis
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/:_password=M2F6Z3BpcWN5NHpvenhyYnp4bnpneHljanFxMjR3dnEyYmppNXR3emNnd3hvbGUyazVscQ==
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/:email=leticia.tomasio@d0007azurecloudtotvscom.onmicrosoft.com
; end auth token
