registry=https://pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/registry/:username=totvshoteis
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/registry/:_password=YjdnbDZpNnh0Z3k3cmFxYnM0cGo0djVndHo1N2JhZjQ1bnh4dmpvNndhYndtcmR6bGt0YQ==
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/registry/:email=totvshoteis@email.com
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/:username=totvshoteis
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/:_password=YjdnbDZpNnh0Z3k3cmFxYnM0cGo0djVndHo1N2JhZjQ1bnh4dmpvNndhYndtcmR6bGt0YQ==
//pkgs.dev.azure.com/totvshoteis/_packaging/totvs-packages/npm/:email=totvshoteis@email.com
; end auth token
